pkgbase = nova-terminal-git
	pkgdesc = Native GPU-accelerated BYOK terminal — Warp's AI features without the logins, telemetry, or subscriptions
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/rene-rodriguez/nova-terminal
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = libxcursor
	makedepends = libxrandr
	makedepends = libxinerama
	makedepends = libxi
	makedepends = mesa
	makedepends = glu
	depends = curl
	depends = libglvnd
	depends = glu
	depends = libx11
	depends = libxcursor
	depends = libxrandr
	depends = libxi
	depends = libxinerama
	provides = nova-terminal
	conflicts = nova-terminal
	options = !lto
	source = nova-terminal-git::git+https://github.com/rene-rodriguez/nova-terminal.git
	source = nova-terminal.desktop
	sha256sums = SKIP
	sha256sums = 45de244e1c4c4b99d2e14713ca393ca0b215aa4b96c1502510123357d8ea3d18
	source_x86_64 = zig-0.15.2-x86_64.tar.xz::https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz
	sha256sums_x86_64 = 02aa270f183da276e5b5920b1dac44a63f1a49e55050ebde3aecc9eb82f93239

pkgname = nova-terminal-git
